body{
    margin: 0;
}
.cos{
    margin: 2% auto;
    max-width: 960px;
}

#title {
    font-size: 35px;
    color: white;
    background-color: #333333;
    padding-left: 460px ;
    
}

#logo {
    width: 150px;
}

#subtitol {
    color: #333333;
    font-size: 35px;
}

#intro {
    background-color: #F5F5F5;
}

#subcapçalera {
    color: #C00000;
    background-color: #F5F5F5;
    font-size: 24px;
    display: flex;
}

#llista {
    float: right;
}

.lletra_gris {
    color: #666666;
}

#franja1 {
    display: flex;
}

#galeria {
    display: flex;
    margin:auto;
    width:60%;
    background-color: white;
}

#seccio {
    background-color: white;
    border: solid 1px grey;
    display: flex;
}

#seccio_text {
    text-align: justify;
}

#link_profes {
    color: inherit;
    text-decoration: inherit;
}

#text_profes:hover {
    border-bottom: 1px solid black;
}


#falda{
    background-color: #DDDDDD;
    display: flex;
}

#footer{
    display: flex;
    background-color: #DDDDDD;
    padding: 10px;
}
