/* TEXT ICONOS Y BOTONES */
/* #333333 #666666 #999999 */
body{
    background-color: #F5F5F5;
}
div #intro{
    background-color: #FFFFFF;
}
#footer{
    background-color: #DDDDDD;
}

p, h1, h2, ul, li{
    color: #333333;
}

a{
    color: #333333;
}

/* LINEAS Y SEPARADORES */
/* #DDDDDD */

/* COLOR FONDO */

